<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="x-admin-sm" lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑文章</title>
    <!--        markdown-->
    <link rel="stylesheet" th:href="@{/assets/editormd/css/editormd.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}"/>
    <!--    <link rel="stylesheet" th:href="@{/css/03s.css}"/>-->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/04c.css}">


</head>
<body>
<div id="titleDiv" class="title_bg">
    <!--返回标签   -->
    <div class="backTo l">
        <a href="/">
            <span><</span>
            <span>返回</span>
        </a>
    </div>
    <div class="input-group mb-3 l reach">
        <div class="input-group-prepend reach_icon">
            <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" name="title" id="title" class="form-control reach_input" placeholder="请输入文章标题"
               aria-label="Username"
               aria-describedby="basic-addon1">
    </div>
    <div class="l pulldown">
        <div style="margin-right:1rem ">
            <select id="father" class="custom-select custom-select-lg mb-3" onchange="change()"
                    style="width: 14rem; height: 4rem">
            </select>
        </div>
        <div>
            <select id="son" class="custom-select custom-select-sm" style="height: 4rem; width: 14rem"></select>
        </div>
    </div>
    <div class="r btns">
        <button id="save" type="button" class="btn btn-outline-success">保存草稿</button>
        <button id="publish" type="button" class="btn btn-success">发布文章</button>
        <button id="article_list" type="button" class="btn btn-success">查看所有</button>
    </div>
</div>
<div id="editor">
    <!--                <textarea style="display:none;">### Hello Editor.md !</textarea>-->
    <textarea class="editormd-markdown-textarea" name="markdown-doc" id="editormd"></textarea>
    <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
    <!-- html textarea 需要开启配置项 saveHTMLToTextarea == true -->
    <!--        <textarea class="editormd-html-textarea" name="editorhtml" id="editorhtml"></textarea>-->
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/edit.js}"></script>
<script th:src="@{/assets/editormd/editormd.min.js}"></script>

</body>
</html>